extends blog,syllabus

snippet it "emphatic text"
	*${1:${TM_SELECTED_TEXT:text}}*$0
snippet em "emphatic text"
	*${1:${TM_SELECTED_TEXT:text}}*$0
snippet st "strong text"
	**${1:${TM_SELECTED_TEXT:text}}**
snippet cd "inline code"
	\`${1:${TM_SELECTED_TEXT:code}}\`
snippet fcd "fenced code block" b
	\`\`\`${1:type}
	${2:${TM_SELECTED_TEXT:code}}
	\`\`\`$0
# vim:ft=snippets:
