# ifs
snippet if
	if $1:
		${0:${TM_SELECTED_TEXT}}
snippet el
	else:
		${0:${TM_SELECTED_TEXT}}
snippet ei
	elif $1:
		${0:${TM_SELECTED_TEXT}}
		self._$1 = value
snippet try "try…except"
	try:
		${1:${TM_SELECTED_TEXT}}
	except ${2:Exception} as ${3:e}:
		${0:raise $3}
# End of snippets

# vim:ft=snippets:
