<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
      <key>Label</key>
      <string>org.telemachus.mailsync</string>

      <key>Program</key>
      <string>/Users/telemachus/bin/mailsync</string>

      <key>ProgramArguments</key>
      <array>
          <string>/Users/telemachus/bin/mailsync</string>
      </array>

      <key>Nice</key>
      <integer>1</integer>

      <key>StartInterval</key>
      <integer>3600</integer>

      <key>RunAtLoad</key>
      <true/>

      <key>StandardErrorPath</key>
      <string>/Users/telemachus/.mailsync.log</string>

      <key>StandardOutPath</key>
      <string>/Users/telemachus/.mailsync.log</string>
  </dict>
</plist>
